NEXT_PUBLIC_TRANSCRIBE_API_KEY=
NEXT_PUBLIC_TRANSCRIBE_ENDPOINT=https://api.openai.com
NEXT_PUBLIC_TRANSCRIBE_MODEL_NAME=whisper-1

NEXT_PUBLIC_TRANSLATE_OPENAI_API_KEY=
NEXT_PUBLIC_TRANSLATE_OPENAI_ENDPOINT=https://api.openai.com
NEXT_PUBLIC_TRANSLATE_OPENAI_MODEL_NAME=gpt-5-nano

NEXT_PUBLIC_TRANSLATE_OLLAMA_ENDPOINT=http://localhost:11434
NEXT_PUBLIC_TRANSLATE_OLLAMA_MODEL_NAME=llama3.1:8b
NEXT_PUBLIC_TRANSLATE_OLLAMA_API_KEY=
